server_name: "veil.local"
public_baseurl: "http://localhost:{{SYNAPSE_PORT}}/"
pid_file: /data/homeserver.pid
web_client_location: null
report_stats: false

listeners:
  - port: 8008
    tls: false
    type: http
    x_forwarded: false
    bind_addresses: ['0.0.0.0']
    resources:
      - names: [client]
        compress: false

database:
  name: psycopg2
  args:
    user: veil
    password: "{{POSTGRES_PASSWORD}}"
    database: synapse
    host: postgres
    port: 5432
    cp_min: 5
    cp_max: 10

log_config: /data/log.config
media_store_path: /data/media_store
signing_key_path: /data/veil.local.signing.key

enable_registration: false
registration_shared_secret: "{{MATRIX_REGISTRATION_SECRET}}"
macaroon_secret_key: "{{SYNAPSE_MACAROON_SECRET}}"
form_secret: "{{SYNAPSE_FORM_SECRET}}"

federation_domain_whitelist: []
federation_whitelist_endpoint_enabled: true
allow_public_rooms_over_federation: false
allow_profile_lookup_over_federation: false
allow_device_name_lookup_over_federation: false
trusted_key_servers: []
suppress_key_server_warning: true

allow_guest_access: false
enable_set_displayname: false
enable_set_avatar_url: false
enable_3pid_lookup: false
enable_search: false
url_preview_enabled: false
presence:
  enabled: false
encryption_enabled_by_default_for_room_type: all
